UnoLisClient.UI/Connected Services/UnoLisServerReference.Gameplay/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameplayManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameplayManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameplayManager_PlayCard_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayCard" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_DrawCard_InputMessage">
    <wsdl:part name="parameters" element="tns:DrawCard" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_CardPlayed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CardPlayed" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_CardPlayed_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CardPlayedResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_CardDrawn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CardDrawn" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_CardDrawn_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CardDrawnResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_TurnChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TurnChanged" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_TurnChanged_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TurnChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_MatchEnded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MatchEnded" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_MatchEnded_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MatchEndedResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IGameplayManager">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayManager/PlayCard" message="tns:IGameplayManager_PlayCard_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DrawCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayManager/DrawCard" message="tns:IGameplayManager_DrawCard_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CardPlayed">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayManager/CardPlayed" message="tns:IGameplayManager_CardPlayed_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayManager/CardPlayedResponse" message="tns:IGameplayManager_CardPlayed_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CardDrawn">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayManager/CardDrawn" message="tns:IGameplayManager_CardDrawn_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayManager/CardDrawnResponse" message="tns:IGameplayManager_CardDrawn_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TurnChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayManager/TurnChanged" message="tns:IGameplayManager_TurnChanged_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayManager/TurnChangedResponse" message="tns:IGameplayManager_TurnChanged_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="MatchEnded">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayManager/MatchEnded" message="tns:IGameplayManager_MatchEnded_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayManager/MatchEndedResponse" message="tns:IGameplayManager_MatchEnded_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameplayManager" type="tns:IGameplayManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameplayManager_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="PlayCard">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/PlayCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DrawCard">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/DrawCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CardPlayed">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/CardPlayed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CardDrawn">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/CardDrawn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnChanged">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/TurnChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatchEnded">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/MatchEnded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameplayManager">
    <wsdl:port name="NetTcpBinding_IGameplayManager" binding="tns:NetTcpBinding_IGameplayManager">
      <soap12:address location="net.tcp://localhost:8115/GameplayManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8115/GameplayManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>EVICTUS\meler</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>