UnoLisClient.Logic/Connected Services/UnoLisServerReference.Gameplay/GameplayManager1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameplayManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameplayManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8114/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8114/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8114/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" />
      <xsd:import schemaLocation="http://localhost:8114/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Enums" />
      <xsd:import schemaLocation="http://localhost:8114/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameplayManager_PlayCard_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayCard" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_DrawCard_InputMessage">
    <wsdl:part name="parameters" element="tns:DrawCard" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_ConnectToGame_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectToGame" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_SayUnoAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:SayUnoAsync" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_DisconnectPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectPlayer" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_UseItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UseItem" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_CardPlayed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CardPlayed" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_CardDrawn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CardDrawn" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_TurnChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TurnChanged" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_MatchEnded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MatchEnded" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_ReceiveInitialHand_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveInitialHand" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_ReceiveCards_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveCards" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_ReceivePlayerList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePlayerList" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_GameMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GameMessage" />
  </wsdl:message>
  <wsdl:message name="IGameplayManager_PlayerShoutedUno_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerShoutedUno" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IGameplayManager">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayManager/PlayCard" message="tns:IGameplayManager_PlayCard_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DrawCard">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayManager/DrawCard" message="tns:IGameplayManager_DrawCard_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConnectToGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayManager/ConnectToGame" message="tns:IGameplayManager_ConnectToGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SayUnoAsync">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayManager/SayUnoAsync" message="tns:IGameplayManager_SayUnoAsync_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DisconnectPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayManager/DisconnectPlayer" message="tns:IGameplayManager_DisconnectPlayer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UseItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameplayManager/UseItem" message="tns:IGameplayManager_UseItem_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CardPlayed">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayManager/CardPlayed" message="tns:IGameplayManager_CardPlayed_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CardDrawn">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayManager/CardDrawn" message="tns:IGameplayManager_CardDrawn_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TurnChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayManager/TurnChanged" message="tns:IGameplayManager_TurnChanged_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="MatchEnded">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayManager/MatchEnded" message="tns:IGameplayManager_MatchEnded_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveInitialHand">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayManager/ReceiveInitialHand" message="tns:IGameplayManager_ReceiveInitialHand_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveCards">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayManager/ReceiveCards" message="tns:IGameplayManager_ReceiveCards_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceivePlayerList">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayManager/ReceivePlayerList" message="tns:IGameplayManager_ReceivePlayerList_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GameMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayManager/GameMessage" message="tns:IGameplayManager_GameMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayerShoutedUno">
      <wsdl:output wsaw:Action="http://tempuri.org/IGameplayManager/PlayerShoutedUno" message="tns:IGameplayManager_PlayerShoutedUno_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameplayManager" type="tns:IGameplayManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameplayManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="PlayCard">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/PlayCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DrawCard">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/DrawCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ConnectToGame">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/ConnectToGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SayUnoAsync">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/SayUnoAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DisconnectPlayer">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/DisconnectPlayer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UseItem">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/UseItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CardPlayed">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/CardPlayed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CardDrawn">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/CardDrawn" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnChanged">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/TurnChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatchEnded">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/MatchEnded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveInitialHand">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/ReceiveInitialHand" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveCards">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/ReceiveCards" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivePlayerList">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/ReceivePlayerList" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GameMessage">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/GameMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerShoutedUno">
      <soap12:operation soapAction="http://tempuri.org/IGameplayManager/PlayerShoutedUno" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameplayManager">
    <wsdl:port name="NetTcpBinding_IGameplayManager" binding="tns:NetTcpBinding_IGameplayManager">
      <soap12:address location="net.tcp://localhost:8115/GameplayManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8115/GameplayManager</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>