UnoLisClient.Logic/Connected Services/UnoLisServerReference.Gameplay/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8114/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.Enums" />
  <xs:complexType name="PlayCardData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelectedColorId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayCardData" nillable="true" type="tns:PlayCardData" />
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.Enums" minOccurs="0" name="Color" type="q1:CardColor" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.Enums" minOccurs="0" name="Value" type="q2:CardValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Card" nillable="true" type="tns:Card" />
  <xs:complexType name="ArrayOfResultData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResultData" nillable="true" type="tns:ResultData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResultData" nillable="true" type="tns:ArrayOfResultData" />
  <xs:complexType name="ResultData">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsWinner" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultData" nillable="true" type="tns:ResultData" />
  <xs:complexType name="ArrayOfCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Card" nillable="true" type="tns:Card" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCard" nillable="true" type="tns:ArrayOfCard" />
</xs:schema>