UnoLisClient.Logic/Connected Services/UnoLisServerReference.LobbyDuplex/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLobbyPlayerData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LobbyPlayerData" nillable="true" type="tns:LobbyPlayerData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLobbyPlayerData" nillable="true" type="tns:ArrayOfLobbyPlayerData" />
  <xs:complexType name="LobbyPlayerData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyPlayerData" nillable="true" type="tns:LobbyPlayerData" />
</xs:schema>