UnoLisClient.UI/Connected Services/UnoLisServerReference.Leaderboards/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" />
  <xs:element name="GetLeaderboard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerRank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaderboardReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" minOccurs="0" name="entries" nillable="true" type="q1:ArrayOfLeaderboardEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaderboardReceivedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerRankReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" minOccurs="0" name="entry" nillable="true" type="q2:LeaderboardEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerRankReceivedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>