UnoLisClient.UI/Connected Services/UnoLisServerReference.Leaderboards/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="LeaderboardsManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILeaderboardsManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILeaderboardsManager_GetLeaderboard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaderboard" />
  </wsdl:message>
  <wsdl:message name="ILeaderboardsManager_GetPlayerRank_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerRank" />
  </wsdl:message>
  <wsdl:message name="ILeaderboardsManager_LeaderboardReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LeaderboardReceived" />
  </wsdl:message>
  <wsdl:message name="ILeaderboardsManager_LeaderboardReceived_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LeaderboardReceivedResponse" />
  </wsdl:message>
  <wsdl:message name="ILeaderboardsManager_PlayerRankReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerRankReceived" />
  </wsdl:message>
  <wsdl:message name="ILeaderboardsManager_PlayerRankReceived_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerRankReceivedResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ILeaderboardsManager">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetLeaderboard">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeaderboardsManager/GetLeaderboard" message="tns:ILeaderboardsManager_GetLeaderboard_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetPlayerRank">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeaderboardsManager/GetPlayerRank" message="tns:ILeaderboardsManager_GetPlayerRank_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LeaderboardReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/ILeaderboardsManager/LeaderboardReceived" message="tns:ILeaderboardsManager_LeaderboardReceived_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILeaderboardsManager/LeaderboardReceivedResponse" message="tns:ILeaderboardsManager_LeaderboardReceived_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayerRankReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/ILeaderboardsManager/PlayerRankReceived" message="tns:ILeaderboardsManager_PlayerRankReceived_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/ILeaderboardsManager/PlayerRankReceivedResponse" message="tns:ILeaderboardsManager_PlayerRankReceived_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILeaderboardsManager" type="tns:ILeaderboardsManager">
    <wsp:PolicyReference URI="#NetTcpBinding_ILeaderboardsManager_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetLeaderboard">
      <soap12:operation soapAction="http://tempuri.org/ILeaderboardsManager/GetLeaderboard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerRank">
      <soap12:operation soapAction="http://tempuri.org/ILeaderboardsManager/GetPlayerRank" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LeaderboardReceived">
      <soap12:operation soapAction="http://tempuri.org/ILeaderboardsManager/LeaderboardReceived" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerRankReceived">
      <soap12:operation soapAction="http://tempuri.org/ILeaderboardsManager/PlayerRankReceived" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeaderboardsManager">
    <wsdl:port name="NetTcpBinding_ILeaderboardsManager" binding="tns:NetTcpBinding_ILeaderboardsManager">
      <soap12:address location="net.tcp://localhost:8117/LeaderboardsManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8117/LeaderboardsManager</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>