UnoLisClient.UI/Connected Services/UnoLisServerReference.Profile/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProfileManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProfileManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileManager_GetProfileData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileData" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_UpdateProfileData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileData" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_ProfileDataReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProfileDataReceived" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_ProfileDataReceived_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProfileDataReceivedResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_ProfileUpdateResponse_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProfileUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileManager_ProfileUpdateResponse_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProfileUpdateResponseResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IProfileManager">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetProfileData">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/GetProfileData" message="tns:IProfileManager_GetProfileData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateProfileData">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/UpdateProfileData" message="tns:IProfileManager_UpdateProfileData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ProfileDataReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/ProfileDataReceived" message="tns:IProfileManager_ProfileDataReceived_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/ProfileDataReceivedResponse" message="tns:IProfileManager_ProfileDataReceived_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ProfileUpdateResponse">
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileManager/ProfileUpdateResponse" message="tns:IProfileManager_ProfileUpdateResponse_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileManager/ProfileUpdateResponseResponse" message="tns:IProfileManager_ProfileUpdateResponse_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProfileManager" type="tns:IProfileManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IProfileManager_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetProfileData">
      <soap12:operation soapAction="http://tempuri.org/IProfileManager/GetProfileData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfileData">
      <soap12:operation soapAction="http://tempuri.org/IProfileManager/UpdateProfileData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ProfileDataReceived">
      <soap12:operation soapAction="http://tempuri.org/IProfileManager/ProfileDataReceived" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProfileUpdateResponse">
      <soap12:operation soapAction="http://tempuri.org/IProfileManager/ProfileUpdateResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileManager">
    <wsdl:port name="NetTcpBinding_IProfileManager" binding="tns:NetTcpBinding_IProfileManager">
      <soap12:address location="net.tcp://localhost:8103/ProfileManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8103/ProfileManager</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>