UnoLisClient.UI/Connected Services/UnoLisServerReference.PartyClient/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JoinPartyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="JoinCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinPartyRequest" nillable="true" type="tns:JoinPartyRequest" />
  <xs:complexType name="PartyActionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsReady" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartyId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartyActionData" nillable="true" type="tns:PartyActionData" />
</xs:schema>