UnoLisClient.UI/Connected Services/UnoLisServerReference.PartyClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PartyClientManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IPartyClientManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPartyClientManager_JoinParty_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinParty" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_LeaveParty_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveParty" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_SetReadyStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetReadyStatus" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_JoinedSuccessfully_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:JoinedSuccessfully" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_JoinedSuccessfully_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:JoinedSuccessfullyResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_JoinFailed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:JoinFailed" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_JoinFailed_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:JoinFailedResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_PlayerJoined_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerJoined" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_PlayerJoined_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerJoinedResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_PlayerLeft_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerLeft" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_PlayerLeft_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerLeftResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_PlayerReadyStatusChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerReadyStatusChanged" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_PlayerReadyStatusChanged_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PlayerReadyStatusChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_MatchStarting_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MatchStarting" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_MatchStarting_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MatchStartingResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_PartyCancelled_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PartyCancelled" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_PartyCancelled_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PartyCancelledResponse" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_PartyDisbanded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PartyDisbanded" />
  </wsdl:message>
  <wsdl:message name="IPartyClientManager_PartyDisbanded_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PartyDisbandedResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IPartyClientManager">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="JoinParty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyClientManager/JoinParty" message="tns:IPartyClientManager_JoinParty_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LeaveParty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyClientManager/LeaveParty" message="tns:IPartyClientManager_LeaveParty_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetReadyStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyClientManager/SetReadyStatus" message="tns:IPartyClientManager_SetReadyStatus_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="JoinedSuccessfully">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyClientManager/JoinedSuccessfully" message="tns:IPartyClientManager_JoinedSuccessfully_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyClientManager/JoinedSuccessfullyResponse" message="tns:IPartyClientManager_JoinedSuccessfully_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="JoinFailed">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyClientManager/JoinFailed" message="tns:IPartyClientManager_JoinFailed_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyClientManager/JoinFailedResponse" message="tns:IPartyClientManager_JoinFailed_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayerJoined">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyClientManager/PlayerJoined" message="tns:IPartyClientManager_PlayerJoined_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyClientManager/PlayerJoinedResponse" message="tns:IPartyClientManager_PlayerJoined_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayerLeft">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyClientManager/PlayerLeft" message="tns:IPartyClientManager_PlayerLeft_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyClientManager/PlayerLeftResponse" message="tns:IPartyClientManager_PlayerLeft_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PlayerReadyStatusChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyClientManager/PlayerReadyStatusChanged" message="tns:IPartyClientManager_PlayerReadyStatusChanged_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyClientManager/PlayerReadyStatusChangedResponse" message="tns:IPartyClientManager_PlayerReadyStatusChanged_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="MatchStarting">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyClientManager/MatchStarting" message="tns:IPartyClientManager_MatchStarting_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyClientManager/MatchStartingResponse" message="tns:IPartyClientManager_MatchStarting_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PartyCancelled">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyClientManager/PartyCancelled" message="tns:IPartyClientManager_PartyCancelled_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyClientManager/PartyCancelledResponse" message="tns:IPartyClientManager_PartyCancelled_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PartyDisbanded">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartyClientManager/PartyDisbanded" message="tns:IPartyClientManager_PartyDisbanded_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IPartyClientManager/PartyDisbandedResponse" message="tns:IPartyClientManager_PartyDisbanded_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IPartyClientManager" type="tns:IPartyClientManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IPartyClientManager_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="JoinParty">
      <soap12:operation soapAction="http://tempuri.org/IPartyClientManager/JoinParty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LeaveParty">
      <soap12:operation soapAction="http://tempuri.org/IPartyClientManager/LeaveParty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetReadyStatus">
      <soap12:operation soapAction="http://tempuri.org/IPartyClientManager/SetReadyStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="JoinedSuccessfully">
      <soap12:operation soapAction="http://tempuri.org/IPartyClientManager/JoinedSuccessfully" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinFailed">
      <soap12:operation soapAction="http://tempuri.org/IPartyClientManager/JoinFailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerJoined">
      <soap12:operation soapAction="http://tempuri.org/IPartyClientManager/PlayerJoined" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerLeft">
      <soap12:operation soapAction="http://tempuri.org/IPartyClientManager/PlayerLeft" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayerReadyStatusChanged">
      <soap12:operation soapAction="http://tempuri.org/IPartyClientManager/PlayerReadyStatusChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatchStarting">
      <soap12:operation soapAction="http://tempuri.org/IPartyClientManager/MatchStarting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartyCancelled">
      <soap12:operation soapAction="http://tempuri.org/IPartyClientManager/PartyCancelled" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartyDisbanded">
      <soap12:operation soapAction="http://tempuri.org/IPartyClientManager/PartyDisbanded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PartyClientManager">
    <wsdl:port name="NetTcpBinding_IPartyClientManager" binding="tns:NetTcpBinding_IPartyClientManager">
      <soap12:address location="net.tcp://localhost:8109/PartyClientManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8109/PartyClientManager</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>