UnoLisClient.UI/Connected Services/UnoLisServerReference.Friends/FriendsManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FriendsManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFriendsManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8124/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8124/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8124/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendsManager_GetFriendsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsList" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_AcceptFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_RemoveFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriend" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_FriendsListReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FriendsListReceived" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_FriendsListReceived_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FriendsListReceivedResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_FriendRequestReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FriendRequestReceived" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_FriendRequestReceived_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FriendRequestReceivedResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_FriendRequestResult_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FriendRequestResult" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_FriendRequestResult_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FriendRequestResultResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_FriendListUpdated_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FriendListUpdated" />
  </wsdl:message>
  <wsdl:message name="IFriendsManager_FriendListUpdated_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FriendListUpdatedResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IFriendsManager">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetFriendsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/GetFriendsList" message="tns:IFriendsManager_GetFriendsList_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/SendFriendRequest" message="tns:IFriendsManager_SendFriendRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AcceptFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/AcceptFriendRequest" message="tns:IFriendsManager_AcceptFriendRequest_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RemoveFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/RemoveFriend" message="tns:IFriendsManager_RemoveFriend_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FriendsListReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/FriendsListReceived" message="tns:IFriendsManager_FriendsListReceived_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/FriendsListReceivedResponse" message="tns:IFriendsManager_FriendsListReceived_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FriendRequestReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/FriendRequestReceived" message="tns:IFriendsManager_FriendRequestReceived_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/FriendRequestReceivedResponse" message="tns:IFriendsManager_FriendRequestReceived_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FriendRequestResult">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/FriendRequestResult" message="tns:IFriendsManager_FriendRequestResult_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/FriendRequestResultResponse" message="tns:IFriendsManager_FriendRequestResult_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FriendListUpdated">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendsManager/FriendListUpdated" message="tns:IFriendsManager_FriendListUpdated_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendsManager/FriendListUpdatedResponse" message="tns:IFriendsManager_FriendListUpdated_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFriendsManager" type="tns:IFriendsManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IFriendsManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetFriendsList">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/GetFriendsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/AcceptFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/RemoveFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FriendsListReceived">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/FriendsListReceived" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendRequestReceived">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/FriendRequestReceived" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendRequestResult">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/FriendRequestResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FriendListUpdated">
      <soap12:operation soapAction="http://tempuri.org/IFriendsManager/FriendListUpdated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendsManager">
    <wsdl:port name="NetTcpBinding_IFriendsManager" binding="tns:NetTcpBinding_IFriendsManager">
      <soap12:address location="net.tcp://localhost:8125/FriendsManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8125/FriendsManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SWEETBLUE16\pswee</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>