UnoLisClient.UI/Connected Services/UnoLisServerReference.ProfileView/ProfileViewManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ProfileViewManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IProfileViewManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8106/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8106/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8106/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileViewManager_GetProfileData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileData" />
  </wsdl:message>
  <wsdl:message name="IProfileViewManager_ProfileDataReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProfileDataReceived" />
  </wsdl:message>
  <wsdl:message name="IProfileViewManager_ProfileDataReceived_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProfileDataReceivedResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IProfileViewManager">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetProfileData">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileViewManager/GetProfileData" message="tns:IProfileViewManager_GetProfileData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ProfileDataReceived">
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileViewManager/ProfileDataReceived" message="tns:IProfileViewManager_ProfileDataReceived_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileViewManager/ProfileDataReceivedResponse" message="tns:IProfileViewManager_ProfileDataReceived_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IProfileViewManager" type="tns:IProfileViewManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IProfileViewManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetProfileData">
      <soap12:operation soapAction="http://tempuri.org/IProfileViewManager/GetProfileData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ProfileDataReceived">
      <soap12:operation soapAction="http://tempuri.org/IProfileViewManager/ProfileDataReceived" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileViewManager">
    <wsdl:port name="NetTcpBinding_IProfileViewManager" binding="tns:NetTcpBinding_IProfileViewManager">
      <soap12:address location="net.tcp://localhost:8107/ProfileViewManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8107/ProfileViewManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SWEETBLUE16\pswee</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>