UnoLisClient.Logic/Connected Services/UnoLisServerReference.Login/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BanInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FormattedTimeRemaining" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemainingHours" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BanInfo" nillable="true" type="tns:BanInfo" />
  <xs:complexType name="AuthCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthCredentials" nillable="true" type="tns:AuthCredentials" />
</xs:schema>