UnoLisClient.UI/Connected Services/UnoLisServerReference.Logout/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8126/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Models" />
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Models" minOccurs="0" name="response" nillable="true" type="q1:ServiceResponseOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>