UnoLisClient.Logic/Connected Services/UnoLisServerReference.ProfileView/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProfileData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentAvatar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExperiencePoints" type="xs:int" />
      <xs:element minOccurs="0" name="FacebookUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstagramUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Losses" type="xs:int" />
      <xs:element minOccurs="0" name="MatchesPlayed" type="xs:int" />
      <xs:element minOccurs="0" name="MaxStreak" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Streak" type="xs:int" />
      <xs:element minOccurs="0" name="TikTokUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wins" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileData" nillable="true" type="tns:ProfileData" />
</xs:schema>