UnoLisClient.UI/Connected Services/UnoLisServerReference.Auth/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AuthManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAuthManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthManager_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthManager_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAuthManager_ConfirmCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmCode" />
  </wsdl:message>
  <wsdl:message name="IAuthManager_LoginResponse_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthManager_LoginResponse_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LoginResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthManager_RegisterResponse_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthManager_RegisterResponse_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthManager_ConfirmationResponse_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ConfirmationResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthManager_ConfirmationResponse_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ConfirmationResponseResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IAuthManager">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthManager/Login" message="tns:IAuthManager_Login_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthManager/Register" message="tns:IAuthManager_Register_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConfirmCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthManager/ConfirmCode" message="tns:IAuthManager_ConfirmCode_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LoginResponse">
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthManager/LoginResponse" message="tns:IAuthManager_LoginResponse_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthManager/LoginResponseResponse" message="tns:IAuthManager_LoginResponse_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterResponse">
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthManager/RegisterResponse" message="tns:IAuthManager_RegisterResponse_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthManager/RegisterResponseResponse" message="tns:IAuthManager_RegisterResponse_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConfirmationResponse">
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthManager/ConfirmationResponse" message="tns:IAuthManager_ConfirmationResponse_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthManager/ConfirmationResponseResponse" message="tns:IAuthManager_ConfirmationResponse_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAuthManager" type="tns:IAuthManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IAuthManager_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IAuthManager/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IAuthManager/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ConfirmCode">
      <soap12:operation soapAction="http://tempuri.org/IAuthManager/ConfirmCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LoginResponse">
      <soap12:operation soapAction="http://tempuri.org/IAuthManager/LoginResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterResponse">
      <soap12:operation soapAction="http://tempuri.org/IAuthManager/RegisterResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmationResponse">
      <soap12:operation soapAction="http://tempuri.org/IAuthManager/ConfirmationResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthManager">
    <wsdl:port name="NetTcpBinding_IAuthManager" binding="tns:NetTcpBinding_IAuthManager">
      <soap12:address location="net.tcp://localhost:8101/AuthManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8101/AuthManager</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>