UnoLisClient.Logic/Connected Services/UnoLisServerReference.Leaderboards/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8120/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Models" />
  <xs:element name="GetGlobalLeaderboard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalLeaderboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Models" minOccurs="0" name="GetGlobalLeaderboardResult" nillable="true" type="q1:ServiceResponseOfArrayOfLeaderboardEntryvXwyyaSB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>