UnoLisClient.Logic/Connected Services/UnoLisServerReference.Leaderboards/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8120/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Enums" />
  <xs:import schemaLocation="http://localhost:8120/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" />
  <xs:complexType name="ServiceResponseOfArrayOfLeaderboardEntryvXwyyaSB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ServiceResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfLeaderboardEntry" Namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Enums" minOccurs="0" name="Code" type="q1:MessageCode" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" minOccurs="0" name="Data" nillable="true" type="q2:ArrayOfLeaderboardEntry" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceResponseOfArrayOfLeaderboardEntryvXwyyaSB" nillable="true" type="tns:ServiceResponseOfArrayOfLeaderboardEntryvXwyyaSB" />
</xs:schema>