UnoLisClient.Logic/Connected Services/UnoLisServerReference.Matchmaking/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MatchSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostNickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="UseSpecialRules" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchSettings" nillable="true" type="tns:MatchSettings" />
  <xs:complexType name="CreateMatchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateMatchResponse" nillable="true" type="tns:CreateMatchResponse" />
  <xs:complexType name="JoinMatchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinMatchResponse" nillable="true" type="tns:JoinMatchResponse" />
</xs:schema>