UnoLisClient.Logic/Connected Services/UnoLisServerReference.Matchmaking/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8130/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" />
  <xs:import schemaLocation="http://localhost:8130/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" minOccurs="0" name="settings" nillable="true" type="q1:MatchSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" minOccurs="0" name="CreateMatchResult" nillable="true" type="q2:CreateMatchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" minOccurs="0" name="JoinMatchResult" nillable="true" type="q3:JoinMatchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLobbyBackground">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="backgroundName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLobbyBackgroundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetLobbyBackgroundResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInvitations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senderNickname" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="invitedNicknames" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInvitationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendInvitationsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLobbySettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLobbySettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" minOccurs="0" name="GetLobbySettingsResult" nillable="true" type="q5:LobbySettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>