UnoLisClient.UI/Connected Services/UnoLisServerReference.Shop/UnoLisServer.Contracts.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PurchaseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseRequest" nillable="true" type="tns:PurchaseRequest" />
  <xs:complexType name="ArrayOfShopItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShopItem" nillable="true" type="tns:ShopItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShopItem" nillable="true" type="tns:ArrayOfShopItem" />
  <xs:complexType name="ShopItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoxId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="Rarity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShopItem" nillable="true" type="tns:ShopItem" />
</xs:schema>