UnoLisClient.Logic/Connected Services/UnoLisServerReference.Avatar/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlayerAvatar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerAvatar" nillable="true" type="tns:PlayerAvatar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerAvatar" nillable="true" type="tns:ArrayOfPlayerAvatar" />
  <xs:complexType name="PlayerAvatar">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarId" type="xs:int" />
      <xs:element minOccurs="0" name="AvatarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSelected" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUnlocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="Rarity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerAvatar" nillable="true" type="tns:PlayerAvatar" />
</xs:schema>