UnoLisClient.Logic/Connected Services/UnoLisServerReference.Report/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8134/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" />
  <xs:import schemaLocation="http://localhost:8134/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Models" />
  <xs:element name="ReportPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" minOccurs="0" name="reportData" nillable="true" type="q1:ReportData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuscrbeToBanNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeFromBanNotifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Models" minOccurs="0" name="response" nillable="true" type="q2:ServiceResponseOfanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPlayerBanned">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Models" minOccurs="0" name="response" nillable="true" type="q3:ServiceResponseOfBanInfovXwyyaSB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>