UnoLisClient.Logic/Connected Services/UnoLisServerReference.ProfileEdit/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8108/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" />
  <xs:import schemaLocation="http://localhost:8108/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Models" />
  <xs:element name="UpdateProfileData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" minOccurs="0" name="data" nillable="true" type="q1:ProfileData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProfileUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UnoLisServer.Common.Models" minOccurs="0" name="response" nillable="true" type="q2:ServiceResponseOfProfileDatavXwyyaSB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>