UnoLisClient.UI/Connected Services/UnoLisServerReference.Notifications/UnoLisServer.Contracts.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UnoLisServer.Contracts.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NotificationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" type="tns:NotificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationData" nillable="true" type="tns:NotificationData" />
  <xs:simpleType name="NotificationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FriendRequest" />
      <xs:enumeration value="MatchInvite" />
      <xs:enumeration value="SystemMessage" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NotificationType" nillable="true" type="tns:NotificationType" />
</xs:schema>